$washed-white: #fdfdfd;
$light-grey: #eaebec;
$grey: #e0e0e0;
$placeholder: #999999;
$dark-grey: #666666;
$washed-black: #3b3b3b;
$accent: #2288b7;
$soft-shadow: rgba(0, 0, 0, 0.05);
$strong-shadow: rgba(0, 0, 0, 0.4);

$table-secondary-row: #f7f7f7;
$btn-default-bottom: #c5c5c5;
$btn-default-top: #f1f1f1;
$btn-primary-bottom: #2479f0;
$btn-primary-top: #6aa0f3;

$rating-icon-active-bottom: #4f9bde;
$rating-icon-active-top: #62bfea;
$rating-icon-bottom: #dcdede;
$rating-icon-top: #ffffff;

$pagination-button-bottom: #ebebeb;
$pagination-button-top: #ffffff;