<div class="row">
    <div class="col-xs-12">
        <form class="search-form">
            <input type="text" class="form-control mb-2" placeholder="Search suppliers" name="searchQuery"
                   [(ngModel)]="query">
            <select class="form-control mb-2" name="searchRating" [(ngModel)]="rating">
                <option [ngValue]="0">Select pound rating</option>
                <option [ngValue]="1">One</option>
                <option [ngValue]="2">Two</option>
                <option [ngValue]="3">Three</option>
                <option [ngValue]="4">Four</option>
                <option [ngValue]="5">Five</option>
            </select>
            <button type="button" class="btn btn-default" (click)="reset();">Reset</button>
            <button type="button" class="btn btn-primary" (click)="search()">Search</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div *ngIf="payments; then paymentsTable else missingPayments"></div>
        <ng-template #paymentsTable>
            <div class="table-responsive payments">
                <table class="table payments-table">
                    <thead>
                    <tr>
                        <th>Supplier</th>
                        <th>Pound Rating</th>
                        <th>Reference</th>
                        <th>Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let payment of payments" (click)="togglePaymentDetails(payment)">
                        <td>{{payment.payment_supplier}}</td>
                        <td>
                            <div class="rating-icons">
                                <span *ngFor="let rating of [1,2,3,4,5];" class="rating-icon"
                                      [ngClass]="{'active': payment.payment_cost_rating >= rating}">
                                    &pound;
                                </span>
                            </div>
                        </td>
                        <td>{{payment.payment_ref}}</td>
                        <td>&pound;{{payment.payment_amount}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </ng-template>
        <ng-template #missingPayments>
            <h3 class="text-center">
                {{missingPaymentsMsg}}
            </h3>
        </ng-template>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul *ngIf="pagination" class="pagination">
            <li [ngClass]="{'invisible': !pagination.left}" (click)="setPage(pagination.current, -1)">
                <a href="#" class="btn"><i class="fa fa-chevron-left"></i></a>
            </li>
            <li *ngFor="let page of pagination.links | keys " [ngClass]="{'active': page.key == pagination.current}">
                <a class="btn" (click)="setPage(page.key);"> {{page.key}}</a>
            </li>
            <li [ngClass]="{'invisible': !pagination.right}" (click)="setPage(pagination.current, 1)">
                <a href="#" class="btn"><i class="fa fa-chevron-right"></i></a>
            </li>
        </ul>
    </div>
</div>

<div [ngClass]="{'in': paymentDetailsModal == true}" class="modal fade payment-details" id="payment-details">
    <div class="modal-backdrop" (click)="togglePaymentDetails()"></div>
    <div class="modal-dialog">
        <div *ngIf="selectedPayment" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="togglePaymentDetails()"></button>
                <h3 class="modal-title">Payment details</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <h2>{{selectedPayment.payment_supplier}}</h2>
                </div>
                <hr class="short-hr">
                <div class="row">
                    <div class="detail-ratings">
                        <span>Pound Rating</span>
                        <div class="rating-icons">
                            <span *ngFor="let rating of [1,2,3,4,5];" class="rating-icon"
                                  [ngClass]="{'active': selectedPayment.payment_cost_rating >= rating}"
                            >&pound;</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 detail-reference">
                        <span>Reference</span>
                        <p>{{selectedPayment.payment_ref}}</p>
                    </div>
                    <div class="col-xs-12 col-sm-6 detail-value">
                        <span>Value</span>
                        <p [ngClass]="" class="value warning">&pound;{{selectedPayment.payment_amount}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
